/* COLOR VARIABLES */
$primary: #394b6a;
$secondary: #ff2c76;
/* MEDIA QUERY VARIABLES */
$highResDesktop: 1281px;
$desktop: 1025px;
$navheaderbreak: 900px;
$tablet: 768px;
$phone: 320px;
// MIXINS
@mixin fade {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
@mixin fadeFast {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
// Keyframes fade animation
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.App {
  text-align: center;
  width: 100%;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

//goes to 900 px
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: transparent;
  &.navNotInvis {
    background-color: $primary;
  }
  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
    background-color: $primary;

    .headerFlexContainer {
      height: 80px;
    }
    .logo {
      img {
        height: 60px;
        margin-right: 142px;
      }
    }
  }

  .headerFlexContainer {
    height: 160px;
    padding: 0 2rem;
    width: 80% !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
  }

  .logo {
    img {
      display: flex;
      align-items: center;
      color: #333;
      margin-right: 100px;
      font-weight: 500;
      font-size: 1.3rem;
      transition: height 4s linear;
    }

    .text {
      display: block;
      white-space: nowrap;
    }
  }

  .allLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex: 1;
    margin: 0;
    .smallWidth {
      width: 120px;
    }
    .mediumWidth {
      width: 180px;
    }
    .largeWidth {
      width: 270px;
    }
    a {
      text-align: center;
      font-size: 1.2rem;
      margin: 0 0.5rem;
      border-bottom: 2px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 200%;
      border-radius: 6px;
      border-radius: 1px;
      text-decoration: none;
      color: white;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        span {
          border-bottom: 1px solid lightblue;
        }
      }
    }
  }
}
// Nav media queries
@media (max-width: 1440px) {
  .nav {
    .allLinkContainer {
      .smallWidth {
        width: 70px !important;
      }
      .mediumWidth {
        width: 100px !important;
      }
      .largeWidth {
        width: 220px !important;
      }
    }
  }
}
@media (max-width: 1172px) {
  .nav {
    .logo {
      img {
        margin-right: 20px;
      }
    }
    .headerFlexContainer {
      margin-left: 20px;
    }
    &.scroll {
      .logo {
        img {
          margin-right: 60px;
        }
      }
    }
  }
}
@media (max-width: 966px) {
  .nav {
    .allLinkContainer {
      .smallWidth {
        width: 70px !important;
      }
      .mediumWidth {
        width: 80px !important;
      }
      .largeWidth {
        width: 200px !important;
      }
    }
  }
}
@media (max-width: 672px) {
  .logo {
    display: none;
  }
  .headerFlexContainer {
    padding: 0 !important;
    .allLinkContainer {
      margin-left: 10% !important;
      a {
        font-size: 1rem !important;
      }
    }
  }
}
@media (max-width: 571px) {
  .nav {
    .headerFlexContainer {
      .allLinkContainer {
        margin-left: 1% !important;
      }
    }
  }
}
@media (max-width: 534px) {
  .nav {
    .allLinkContainer {
      margin-left: 0% !important;
      a {
        font-size: 0.7rem !important;
      }
      .smallWidth {
        margin: 0 !important;
        width: 30px !important;
      }
      .mediumWidth {
        margin: 0 !important;
        width: 60px !important;
      }
      .largeWidth {
        width: 110px !important;
      }
    }
  }
}
/* SCREEN */

//Home Screen
.topView {
  height: 100vh;
  @include fadeFast;
}
.welcomeTop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#373b44, #4286f4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}
.topButton {
  margin-top: 30px;
}

.taglineContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  color: white;
}
#chartdiv {
  margin-right: 3%;
  margin-top: 3%;
}
.tagline1 {
  font-size: 40px;
  font-weight: 200px;
  white-space: nowrap;
}
.tagline2 {
  font-size: 40px;
  font-weight: 200px;
  white-space: nowrap;
}
.taglineHighlight {
  font-size: 2.7rem;
  transition: color 1.5s;
  &:hover {
    color: $secondary;
  }
}
.taglineSpan {
  font-size: 1.9rem;
  font-weight: 500px;
}
.example {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include fade;
}
.summaryBox1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.summOne {
  width: 30%;
  font-size: 25px;
  padding-right: 35px;
  text-align: left;
}
.summaryBox2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.summTwo {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 25px;
  padding-left: 35px;
  text-align: left;
}
.productImage1 {
  width: 200px;
  border-radius: 5%;
}
.productImage2 {
  width: 200px;
  border-radius: 5%;
}
.gContainer {
  flex-grow: 3;
  display: flex;
  justify-content: space-evenly;
  padding: 4%;
}
.gItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 250px;
  height: 200px;
  padding: 3%;
  display: flex;
  align-items: center;
}
.tryIt {
  display: flex;
  height: 500;
  justify-content: center;
  align-content: center;
}
#movingBanner {
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  overflow: hidden;
  background: #4286f4;
  div {
    position: relative;
    width: 100%;
    overflow: hidden;
    animation: animate 40s linear infinite;
    .bannerText {
      color: white;
      position: absolute;
      white-space: nowrap;
      opacity: 0.2;
      font-size: 4em;
      line-height: 10vh;
    }
    .bannerImage {
      opacity: .2;
    }
    //Keyframes for scrolling banner
    @keyframes animate {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }
}

//Home page media queries

@media (max-width: 1500px) {
  #chartdiv {
    margin-right: 3%;
    margin-top: 7%;
  }
}
@media (max-width: 1100px) {
  #chartdiv {
    margin-right: 0;
    width: 450px !important;
    height: 40vh !important;
  }
  .taglineHighlight {
    font-size: 2.3rem;
  }
  .taglineSpan {
    font-size: 1.5rem;
  }
}
@media (max-width: $navheaderbreak) {
  .taglineContainer {
    flex-direction: row;
    justify-content: space-evenly;
    width: 86%;
    height: 130px;
    flex-wrap: wrap;
  }
  .welcomeTop {
    flex-direction: column;
    justify-content: flex-end !important;
  }
}
@media (max-width: 820px) {
  .taglineContainer {
    width: 95%;
  }
}
@media (max-width: 735px) {
  .taglineContainer {
    flex-direction: column;

    height: 35vh;
  }
  .welcomeTop {
    height: 100vh !important;
  }
  #chartdiv {
    margin-top: 0;
    margin-bottom: 9%;
  }
  .topView {
    height: 120vh;
    justify-content: space-evenly;
  }
  .tagline1 {
    height: 4vh;
    margin: 0;
  }
  .tagline2 {
    height: 4vh;
    margin: 0;
  }

  .summaryBox1 {
    width: 100%;
    flex-flow: column wrap;
    padding: 0;
  }
  .summOne {
    width: 80%;
    font-size: 20px;
    margin: 30px auto;
    padding: 0;
  }
  .productImage1 {
    padding: 0;
    width: 300px;
    margin: auto auto;
  }
  .summaryBox2 {
    flex-flow: column-reverse wrap;
  }
  .summTwo {
    width: 80%;
    font-size: 20px;
    padding: 0;
    margin: 0 auto;
  }
  .productImage2 {
    width: 300px;
  }
}
.bottomHomePage{
  margin-bottom: 200px;
}
@media (max-width: 453px) {
  .taglineContainer {
    height: 50vh;
  }
  .taglineHighlight {
    font-size: 2rem;
  }
  .taglineSpan {
    font-size: 1.2rem;
  }
  #chartdiv {
    width: 350px !important;
    height: 30vh !important;
  }
}

//Try it page
.tryIt {
  margin-top: 30%;
}
.tryItPage {
  width: 100%;
}
.inputGraphLegendFlexContainer{
  width: 50%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
}
.classificationSection{
  margin: 0 auto;
  margin-bottom: 200px;
}

.classificationFlexContainer{
  display: flex;
  flex-flow: row;
  justify-content: center;
  .classificationTitleContainer{
    width: 40%;
    .classificationTitle{
      font-size: 60px;
    }
  }
  .classificationTextContainer{
    padding-top: 30px;
    width: 40%;
  }
}
.classificationText {
  opacity: 0;
  transform: translateY(15vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.0s ease-out;
  will-change: opacity, visibility;
}
.classificationText.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

//API Docs page
.navbarCoverWhiteSpace {
  height: 160px;
  width: 100%;
}
.docsContainer {
  display: flex;
  justify-content: flex-start;
  @include fade;
}
.docsNav {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  margin-top: 1%;
  .selectedDoc {
    color: #556cd6;
    background-color: #f5fbff;
  }
  .notSelectedDoc {
    color: #2a2f45;
    background-color: #fff;
  }
  a {
    text-decoration: none;
    padding: 3% 5%;
    border-radius: 10px;
  }
}
.textContainer {
  width: 70%;
  text-align: left;
  margin-left: 15%;
  margin-top: 2%;
  .docsOpen {
    color: #5469d4;
    font-weight: 600;

    cursor: pointer;
    &:hover {
      color: #233483;
    }
  }
  #intro {
    padding-top: 80px;
    margin-bottom: 300px;
  }
  #preprocessing {
    padding-top: 80px;
    margin-top: 300px;
    margin-bottom: 300px;
  }
  #requests {
    padding-top: 80px;
    margin-top: 300px;
    margin-bottom: 300px;
  }
  #model {
    padding-top: 80px;
    margin-top: 300px;
    margin-bottom: 300px;
  }
  #deploy {
    padding-top: 80px;
    margin-top: 300px;
    margin-bottom: 300px
  }
  h1 {
    color: #2a2f45;
    font-size: 1.5rem;
  }
  h2 {
    color: #2a2f45;
    font-size: 1.2rem;
  }
  p {
    color: #4f566b;
    font-size: 1rem;
  }
  li {
    color: #4f566b;
    list-style-type: circle;
  }
  .docSection {
    padding: 4% 7%;
    border-bottom: 1px solid #e3e8ee;
    border-left: 1px solid #e3e8ee;
    width: 100%;
  }
}
//api docs media queries
@media (max-width: 1078px) {
  .docsNav {
    width: 40%;
  }
  .textContainer {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 790px) {
  .docsNav {
    width: 40%;
  }
  .textContainer {
    width: 60%;
    margin-left: 30%;
  }
}
@media (max-width: 500px) {
  .docsNav {
    display: none;
  }
  .textContainer {
    width: 90%;
    margin-left: 0;
  }
}
//About page
.aboutPage {
  margin-bottom: 100px;
}
.header {
  padding-top: 15%;
  @include fade;
}
.teamFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-top: 3%;
  width: 75%;
  @include fade;
}
.teamMember {
  display: flex;
  flex-flow: column;
  align-items: center;
  line-height: 0.25px;
  padding: 0.5%;
  border-radius: 5px;
  &:hover {
    top: -3px;
    left: -3px;
    box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
  }
}
.profilePic {
  border-radius: 5px;
  width: 200px;
}
.githubLogo {
  width: 100px;
}
