/* COLOR VARIABLES */
$primary: #38455b;
$secondary: red;
/* MEDIA QUERY VARIABLES */
$highResDesktop: 1281px;
$desktop: 1025px;
$tablet: 768px;
$phone: 320px;
.App {
  text-align: center;
  width: 100%;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

/* NAVBAR */
// #logo img {
//   animation: rotation 0.7s 1 linear;
//   }
  
//   @keyframes rotation {
//     from {
//       transform: rotateY(0deg);
//     }
//     to {
//       transform: rotateY(359deg);
//     }
//   }
.headerDisplay {
  position: fixed; /* Set the navbar to fixed position */
  width: 100%;
  top: 0;
  background-color: $primary;

}
.headerFlexContainer{
  padding: 1% 1% 0 1%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.allLinkContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 70%;
  margin-right: 2%;
}
.navLinkContainer{
  padding-top: 3%;
}
.navLink {
  border-radius: 1px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  &:hover {
    border-bottom: 1px solid lightblue;
  }
}

/* SCREEN */

//Home Screen

.welcomeTop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#373b44, #4286f4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.topButton {
  margin-top: 30px;
}

.taglineContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  color: white;
}
.tagline1 {
  font-size: 40px;
  font-weight: 200px;
  white-space: nowrap;
}
.tagline2 {
  font-size: 40px;
  font-weight: 200px;
  white-space: nowrap;
}
.taglineHighlight {
  transition: color 1.5s;
  &:hover {
    color: red;
  }
}
.taglineSpan {
  font-size: 30px;
  font-weight: 500px;
}
.summaryBox1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.summOne {
  width: 30%;
  font-size: 25px;
  padding-right: 35px;
  text-align: left;
}
.summaryBox2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.summTwo {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 25px;
  padding-left: 35px;
  text-align: left;
}
.example {
  display: flex;
  flex-direction: column;
}
.productImage1 {
  width: 200px;
  border-radius: 5%;
}
.productImage2 {
  width: 200px;
  border-radius: 5%;
}
.gContainer {
  flex-grow: 3;
  display: flex;
  justify-content: space-evenly;
  padding: 4%;
}
.gItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 250px;
  height: 200px;
  padding: 3%;
  display: flex;
  align-items: center;
}
.tryIt {
  display: flex;
  height: 500;
  justify-content: center;
  align-content: center;
}
#movingBanner {
  position: relative;
  width: 100%;
  height: 25vh;
  display: flex;
  overflow: hidden;
  div {
    position: relative;
    width: 100%;
    background: #4286f4;
    overflow: hidden;
    .bannerText {
      color: white;
      position: absolute;
      white-space: nowrap;
      font-size: 4em;
      line-height: 10vh;
      animation: animate 120s linear infinite;
    }
    @keyframes animate {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}
//API Docs page

.container {
  width: 75%;
  text-align: "left";
  margin: "auto";
}

//About page

.header {
  padding-top: 12%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}
.teamFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 3%;
  width: 75%;
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
   -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera < 12.1 */
       animation: fadein 2.5s;
  
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.teamMember {
  display: flex;
  flex-flow: column;
  align-items: center;
  line-height: 0.25px;
  padding: .5%;
  border-radius: 5px;
  &:hover {
    top: -3px;
    left: -3px;
    box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85),
  }
}
.profilePic {
  border-radius: 5px;
  width: 200px;
}
.githubLogo {
  width: 100px;
}
